@mixin btn{
  height: 2em;
  width: 5em;
  text-align: center;
  margin: 1em;
  background: $teal;
  font-size: 30px;
  font-weight: 700;
  font-family: $neontext;
  color: $creamWhite;
  border: 0;
  letter-spacing: 5px;
  transition: background-color 0.5s ease-in-out;
  &:hover{
    cursor: pointer;
    background-color: $darkerTeal;
  }
}
