@font-face {
    font-family: Montserrat-Regular;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('/assets/fonts/Montserrat-Bold.ttf');
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular', sans-serif;
  }
  
  .image-container {

    display: flex;
    height: 1100px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .fit{
    background-size: cover;
    display: flex;
    height: 1100px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .opacity-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 60%;
  }
  
  .opacity-footer {
    height: 250px;
    width: 98vw;
    position: absolute;
    z-index: 4;
    background-color: black;
    opacity: 70%;
    align-self: flex-end;
  
    margin-top: 60px;
    padding: 20px 250px; 
  
    color: #fff;
  
    box-sizing: border-box;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
  }
  
  .container {
    height: 1100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: transparent;
  }
  
  .logo-image {
    max-width: 180px;
    margin-left: 30px;
    align-self: flex-start;
    position: absolute;
    z-index: 3;
  }
  
  .login-container {
    width: 25%;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.7);
  
    position: absolute;
    z-index: 4;
    align-self: center;
    justify-content: center;
    padding: 30px 58px 100px 58px ;
    margin-top: -250px;
  
    border-radius: 10px;
  
    color: #fff;
  }
  
  .input {
    width: 85%;
    height: 50px;
    background-color: #333;
  
    border-color: #333;
    border-radius: 5px;
  
    padding: 0 20px;
  
    color: #fff;
    opacity: 0.8;
  }
  
  .input:focus {
    outline: none;
    opacity: 1;
  }
  
  .input + .input {
    margin-top: 15px;
  }
  
  .btn {
    width: 100%;
    height: 48px;
  
    background-color: #E50914;
    color: #fff;
  
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
  
    border: 0;
    border-radius: 5px;
  
    margin: 35px 0 15px;
  }
  
  .checkbox {
    color: #737373;
    height: 16px;
    width: 16px;
  }
  
  .login-text {
    color: #b3b3b3;
    font-size: 13px;
  }
  
  .dark-text {
    color: #737373;
    font-size: 13px;
  }
  
  .dark-big-text {
    color: #737373;
    font-size: 16px;
  }
  
  .align-right {
    margin-left: auto;
  }
  
  .line {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .small-logo {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  .white-link {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .white-link:hover {
    text-decoration: underline;
  }
  
  .blue-link {
    color: #0071eb;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .blue-link:hover {
    text-decoration: underline;
  }
  
  .grey-link {
    color: #737373;
    text-decoration: none;
    min-width: 250px;
  }
  
  .grey-link:hover {
    text-decoration: underline;
  }
  
  select {
    background-color: #000;
    border: solid 1px #737373;;
    border-radius: 5px;
  
    width: 150px;
    height: 50px;
  
    color: #737373;
    margin: 20px 0;
  }
  
  .accordion {
    margin: 15px 0;
    display: none;
    overflow: hidden;
  }
  
  @media screen and (max-width: 787px){
    .login-container {
      width: 66%;
      height: 46vh;
      padding: 20px 36px 53px 35px;
    }
    .grey-link {
      min-width: 127px;
    }
    .opacity-footer {
      width: 97.5vw;
      padding: 0px 200px;
    }
  }
  @media screen and (max-width: 496px){
    .login-container {
      width: 71%;
      padding: 21px 43px 54px 11px;
    }
    .opacity-container {
      opacity: 100%;
    }
    .logo-image {
      max-width: 160px;
      margin-left: 14px;
    }
    .opacity-footer {
      width: 95vw;
      padding: 0px 4px;
    }
    .grey-link {
      min-width: 95px;
    }
    .fit{
      display: none;
    }
    .footer-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
  }