body {
  color: #2C3E50 ;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 550;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #2B394A;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1.1rem;
}

.intro {
  width: 30%;
  margin: auto;
}

.p1 {
  font-family: 'Montserrat', sans-serif;
  color: #301934;
  font-size: 1.5rem;
  font-weight: 595;

}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cinema {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.myimage {
  margin: 40px auto auto auto;
}

p {
  line-height: 2;
  font-size: 1.02rem;
}

hr {
  border: dotted #C1E1C1 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.get-in-touch {
  margin-bottom: 16px;
  width: 13%;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 14px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 0 0 12px #000000;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
